*{
	margin:0;
	padding:0;
}

body{
	font:24px/1.3 'Tahoma', sans-serif;
    background-color: #638339;
	color: #D5F4AC;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#7FD215;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

.screen{
	background-color: #396402;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	padding: 35px 60px;
	margin: 50px auto;
}

h1{
	color:#B8F46B;
	font-size:64px;
	font-family:'Georgia', serif;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

h2 {
    padding-top: 30px;
}

#select-screen ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
}

#select-screen ul li{
	padding:20px 30px;
	background-color:#638339;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}

#select-screen ul li span{
	float:right;
}

#select-screen ul li.active{
	background-color:#B8F46B;
    color: #396402;
}

footer {
    padding-top: 40px;
}

