<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/players.js"></script>
    <script src="js/app.js"></script>
    <title>BateTime</title>
</head>
<body>
    <div ng-app ng-controller="MyCtrl" class="ui-widget">
    
        <h1>BateTime</h1>
                
        <div id="main-screen" ng-show="!selecting">
        
            <p>{{getSelectionMessage()}}</p>
            
            <label ng-repeat="team in teams">
                <strong>Time {{team.name}}</strong><br>
                <ul ng-repeat="player in team.players | orderBy:'level'">
                    <li>{{player.name}} ({{player.level}})</li>
                </ul>
            </label>

            <a href="javascript:;" ng-click="selectPlayers()">Selecionar jogadores</a><br>
            <a href="javascript:;" ng-click="distribute()">Distribuir novamente</a>
        
        </div>

        <div id="select-screen" ng-show="selecting">
        
            <p>
                <input type="checkbox" id="chkGoalkeeper" ng-model="goalkeeper">
                <label for="chkGoalkeeper">Tem goleiro?</label>
            </p>
        
            <label ng-repeat="player in players | orderBy:['outsider','name']">
                <input class="check-player" type="checkbox" 
                    id="chk{{player.id}}" value="{{player.id}}" ng-model="player.checked">
                <label for="chk{{player.id}}">{{player.name}} ({{player.level}})</label><br><br>
            </label>
            
            <p>
                <a href="javascript:;" ng-click="endSelection()">Encerrar seleção</a>
            </p>
        
        </div>
        
    </div>
</body>
</html>